* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  padding-left: 30px;
  background-color: black;
  color: whitesmoke;
  font-family: 'Sunflower', sans-serif;
}

.container, .icon-box {
  display: block;
  text-align: center;
}

h1 {
	text-align: center;
	font-size: 50px;
}

p {
  font-size: 20px;
}

button {
  height: 50px;
  cursor: ponter;
  margin-top: 30px;
  margin-bottom: 30px;
}

button:hover {
	background-color: yellow;
}

.icon-box {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
